# Production values from WSO2 Developer Portal -> Production Keys
CONSUMER_KEY=AIr4DCk7vA2UJTEaJ8F0ojWO3kUa

# Neo app token shown in Neo -> Invest -> Trade API -> Your App (plain token)
NEO_APP_TOKEN=7d934b33-f655-46eb-928c-1aa8ea73b2f0

# If you are using WSO2 flow to fetch a token: put secret here (optional)
CONSUMER_SECRET=NZtAW14MqHZvX7hroGDmFWGfpu4a
TOTP_SECRET=IN37JD7G6H6VTBMEQ6OX4NNEJI
# Your mobile/UCC for TOTP login
KOTAK_MOBILE_NUMBER=+918488850051
KOTAK_UCC=ZQYS4
KOTAK_MPIN=395820
KOTAK_PASSWORD=Yash@395827
KOTAK_SMS_OTP=
# Login URL (keep default unless told otherwise)
LOGIN_URL=https://mis.kotaksecurities.com/login/1.0/tradeApiLogin

# --- Telegram Credentials (Optional) ---
TELEGRAM_BOT_TOKEN=8298664320:AAGTEuXyyZ5ZYjCWfy8YICKqQG5PdoMIxqQ
TELEGRAM_CHAT_ID=1885573891


SESSION_FILE=session.json        # optional
NEO_FIN_KEY=neotradeapi          # leave default unless changed
