# Production values from WSO2 Developer Portal -> Production Keys
CONSUMER_KEY=YOUR_WSO2_CONSUMER_KEY

# Neo app token shown in Neo -> Invest -> Trade API -> Your App (plain token)
NEO_APP_TOKEN=YOUR_NEO_APP_TOKEN

# If you are using WSO2 flow to fetch a token: put secret here (optional)
CONSUMER_SECRET=YOUR_WSO2_CONSUMER_SECRET
TOTP_SECRET=YOUR_TOTP_SECRET
# Your mobile/UCC for TOTP login
KOTAK_MOBILE_NUMBER=+91xxxxxxxxxx
KOTAK_UCC=YOUR_UCC
KOTAK_MPIN=YOUR_MPIN
KOTAK_PASSWORD=YOUR_PASSWORD
KOTAK_SMS_OTP=
# Login URL (keep default unless told otherwise)
LOGIN_URL=https://mis.kotaksecurities.com/login/1.0/tradeApiLogin

# --- Telegram Credentials (Optional) ---
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_CHAT_ID


SESSION_FILE=session.json        # optional
NEO_FIN_KEY=neotradeapi          # leave default unless changed
